# Токен от @BotFather. Не запускайте два сервиса с одним токеном (Docker + локальный Spring) — апдейты получит только один.
TELEGRAM_BOT_TOKEN=8317669274:AAEXOY9weyVrkoHr2qmhNaDenl3eFaoBryg
TELEGRAM_BOT_USERNAME=@tgBoosterMPL_bot
